@import url(./reset.css);

.App-logo {
  height: 50px;
  
}

.App-wraper {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 4fr 8fr;
  grid-template-columns: 2fr 10fr;
  align-self: stretch;
  grid-template-areas: 
  "h h"
  "n c"
  "f c"

}

/* a {
  text-decoration: none;
} */

.App-link {
  color: #09d3ac;
}
.App-wraper-content {
  grid-area: c;
  background: yellow;
  
}







