.App-logo {
  height: 60px;
  
}

.App-wraper {
  background-color: white;
  width: 100%;
  margin: o auto;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
  "h h"
  "n c"

}

.App-link {
  color: #09d3ac;
}
.App-wraper-content {
  grid-area: c;
  background: yellow;
  margin: 5px 5px 5px 5px;
}







