.nav{
    grid-area: n;
    background: rgb(157, 219, 185);
    text-align: center;
    margin: 0px;
    height: 200px;
    padding-top: 20px;
  }

  .item a {
    
    text-decoration: none;
    font-size: 20px;
  }

  .item a.activeLink {
      color: rgb(156, 153, 134);
  }

  .item a:hover {
    color: rgb(156, 153, 134);
}